<h1 class="title">Bus Ride - an RxJS Adventure</h1>
<div class="container">
    <div class="bus-box">
        <div *ngFor="let bus of buses" class="bus-lane clearfix">
            <app-bus [bus]="bus" [busStops]="busStops" (newMessage)="logMessage($event)"></app-bus>
        </div>
        <div class="bus-stops clearfix">
            <app-bus-stop *ngFor="let stop of busStops" [busStop]="stop"></app-bus-stop>
        </div>
        <div class="control-panel">
            <p><input type="text" placeholder="Passenger name..." [(ngModel)]="passengerName" (keyup.enter)="addPassenger()" /> <button (click)="addPassenger()" class="util-cursor-pointer">Add</button></p>
        </div>
        <div class="info-box">
            <p *ngFor="let bus of buses">
                <b>[Bus {{bus.name}} Passengers]:</b> {{passengerNames(bus) ? passengerNames(bus) : 'none'}}
            </p>
        </div>
        <div class="info-box">
            <table>
                <p *ngFor="let message of messages; let i = index" [style.opacity]="(i + 1)/(messages.length)" [style.font-weight]="i === messages.length - 1 ? 'bold' : 'normal'">{{message}}</p> 
            </table>
        </div>
    </div>
</div>
