.bus-box {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}
.bus-lane {
    position: relative;
    margin-bottom: 50px;
    border-bottom: 1px solid gray;
    height: 60px;
}
.bus-cursor {
    position: absolute;
    display: inline-block;
    cursor: pointer;
}

.bus-stops {
    position: relative;
    height: 92px;
}

.control-panel {
    text-align: center;
}

.info-box {
    padding: 15px 0;
    font-size: 12px;
    border-top: 1px solid lightgrey;
}

.container {
    position: relative;
}

h1.title {
    text-align: center;
    font-weight: normal;
    margin-top: 100px;
    font-family: Lobster;
    font-size: 48px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

input, button {
    font-size: 24px;
    padding: 5px 15px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 3px;
}