.bus {
    position: absolute;
}
.bus--right {
    transform: scaleX(-1);
}
.bus--left {
    transform: scaleX(1);
}
.line-number {
    padding: 1px;
    font-size: 9px;
    background: white;
    border: 1px solid black;
    text-align: center;
    width: 20px;
    margin: 0 auto;
}